@font-face {
    font-family: "Merriweather";
    src: url('./Merriweather/Merriweather-Light.ttf');
    font-family: "Overpass";
    src: url('./Overpass/static/Overpass-Bold.ttf');
}

#person {
    color: blueviolet;
}

html {
    background-color: peachpuff;
}

.text {
    border: 2px solid black;
    text-align: left;
    font-family: "Merriweather";
    font-size: 32px;
}

.header {
    border: 2px solid black;
    text-align: left;
    font-family: "Overpass";
    font-size: 200px;
    position: fixed;
    left: 150px;
    bottom: 75px;
}

