@font-face {
    font-family: "Merriweather";
    src: url('./Merriweather/Merriweather-Light.ttf');
}
.nav-bar{
    padding-top: 25px;
}
a:link[class = "nav-header"], a:visited[class = "nav-header"] {
    color: black;
    padding: 15px 25px;
    text-align: center;
    display: inline-block;
    font-size:1.6vmin;
    font-family: "Merriweather";
}