@font-face {
    font-family: "Merriweather";
    src: url('fonts/Merriweather/Merriweather-Light.ttf');
}
@font-face {
font-family: "Overpass";
src: url('fonts/Overpass/static/Overpass-Medium.ttf');
}
@font-face {
    font-family: "Overpass-LightItalic";
    src: url('fonts/Overpass/static/Overpass-LightItalic.ttf');
}
html,#thing,#quote,.nav-bar, body{
  background: url(./images/building.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-left: 0%;
  padding-right: 0%;    
  font-size: 35px;
  color:rgb(213, 224, 226);
}

.message {
    position: relative;
    left: 19%;
    bottom: 70px;
    font-size: 28px;
    color: black;
}

.response {
    position: relative;
    left: 63%;
    bottom: 340px;
    font-size: 23px;
    color: white; 
}

.bubble {
    position: relative;
    left: 15%;
    top: 20%;
}

.rightbubble {
    position: relative;
    left: 60%;
    bottom: 75px;
}

.container {
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 5%;
    margin-bottom: 5%;
    max-width: 100%;
    background: url(./images/building.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.text {
    text-align: left;
    font-family: sans;
    font-size: 32px;
    padding-left: 0%;
}

.header {
    font-family: "Overpass";
    padding-top: 695px;
    line-height: normal;
}

.Title{
    font-size: 60px;
    color:rgb(228, 213, 207);
}

.Title2{
    font-size: 60px;
    color:rgb(228, 213, 207);
}

.Title3{
    font-size: 60px;
    color:coral;
}
.Intro{
    font-family: "Overpass-LightItalic";
    font-size: 20px; 
    color:rgb(228, 213, 207);
}

.Intro2{
    font-family: "Overpass-LightItalic";
    font-size: 20px;
    color:rgb(235, 227, 160);
}

