@font-face {
    font-family: "Merriweather";
    src: url('./Merriweather/Merriweather-Light.ttf');
    font-family: "Overpass";
    src: url('./Overpass/static/Overpass-Bold.ttf');
}

html {
    background-color: peachpuff;
}
#person {
    color: blueviolet;
}
.nav-bar{
    justify-content: end;
}
a:link[class = "nav-header"], a:visited[class = "nav-header"] {
    color: black;
    padding: 25px;
    text-align: center;
    display: inline-block;  
    font-size:2vmin;
    font-family: "Merriweather";
    transition: all 0.3s ease;
    opacity: 0.8;
}
a:hover[class = "nav-header"] {
    transform: scale(1.2);
    opacity: 1;
  }
.text {
    border: 2px solid black;
    text-align: left;
    font-family: "Merriweather";
    font-size: 32px;
}

.header {
    border: 2px solid black;
    text-align: left;
    font-family: "Overpass";
    font-size: 200px;
    position: fixed;
    left: 150px;
    bottom: 75px;
}
.logo {
    justify-content: start !important;
}