@font-face {
    font-family: "Merriweather";
    src: url('fonts/Merriweather/Merriweather-Light.ttf');
}
@font-face {
font-family: "Overpass";
src: url('fonts/Overpass/static/Overpass-Medium.ttf');
}
@font-face {
    font-family: "Overpass-LightItalic";
    src: url('fonts/Overpass/static/Overpass-LightItalic.ttf');
}
html {
    height: 300%;
    scroll-behavior: smooth;
}
html,#thing,#quote,.nav-bar{
    background: url(building.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-left: 0%;
  padding-right: 0%;    
  font-size: 35px;
  color:rgb(213, 224, 226);
}

.nav-bar{
    margin-top:2%;
    display:flex;
    z-index: 1000;
    width:100%;
}
a:link[class = "nav-header"], a:visited[class = "nav-header"] {
    color: white;
    padding: 25px;
    text-align: center;
    display: inline-block;  
    font-size:2vmin;
    font-family: "Merriweather";
    transition: all 0.3s ease;
    opacity: 0.8;
    color:rgb(195, 205, 207);
}
a:hover[class = "nav-header"] {
    transform: scale(1.2);
    opacity: 1;
  }
.text {
    text-align: left;
    font-family: "Merriweather";
    font-size: 32px;
    padding-left: 0%;
}

.header {
    font-family: "Overpass";
    padding-top: 565px;
    line-height: normal;
    margin-left: 0;
}

.Title{
    font-size: 60px;
    color:rgb(228, 213, 207);
}

.Title2{
    font-size: 60px;
    color:rgb(228, 213, 207);
}

.Title3{
    font-size: 60px;
    color:coral;
}
.Intro{
    font-family: "Overpass-LightItalic";
    font-size: 20px; 
    color:rgb(228, 213, 207);
}

.Intro2{
    font-family: "Overpass-LightItalic";
    font-size: 20px;
    color:rgb(235, 227, 160);
}

.logo {
    width:77px;
    height:77px;
    margin-top: 1px;
    margin-left: 7%;
}
.logo-name {
    margin-right: auto;
    margin-left: 1%;
}