@font-face {
    font-family: "Overpass";
    src: url('fonts/Overpass/static/Overpass-Medium.ttf');
    }

    html, body{
        background: url(./images/hack.png);
        background-repeat: no-repeat; 
        padding-left: 0%;
        padding-right: 0%;    
        font-size: 35px;
        color:rgb(213, 224, 226);
        height: 130%;
        background-color: black;
      }
.resources {
    padding-left:10%;
    padding-top: 28%;
    color:white;
    font-size: 8vmin;
    font-weight: bold;
    font-family: "Overpass";
}

h1 {
    padding-top: 5%;
}
.col-4 {
    text-align: center;
    margin-top:20%;
    border: 25px solid black;
    background-color: #222222;
    padding-bottom: 2%;
}
.intern {
    border-radius: 10% 30%;
}
.clubs {
    border-radius: 30% 30%;
}
.courses {
    border-radius: 30% 10%;
}
.nav-bar {
    background-color: black;
}

.example_b {
    font-family: 'Poppins';
    color: #fff !important;
    background: rgb(250, 200, 152);
    padding: 20px;
    border-radius: 50px;
    display: inline-block;
    transition: all 0.4s ease 0s;
    margin:35px;
  }
  
  .example_b:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    transition: all 0.4s ease 0s;
  }