@font-face {
    font-family: "Merriweather";
    src: url('fonts/Merriweather/Merriweather-Light.ttf');
}
@font-face {
font-family: "Overpass";
src: url('fonts/Overpass/static/Overpass-Medium.ttf');
}
@font-face {
    font-family: "Overpass-LightItalic";
    src: url('fonts/Overpass/static/Overpass-LightItalic.ttf');
}

html, body{
    background: url(./images/lightbulb.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
}
html {
    height: 300%;
    scroll-behavior: smooth;
}

h4,h5 {
    color: white;
}

h1 {
    font-size: 90px;
    color: white;
    font-weight: 700;
}

h3 {
    color: white;
    font-size: 20px;
}
.col-1, .col-5, .col-4{
    padding-top: 200px;
    padding-left: 2%;
    padding-right: 2%;
    color: white;
    line-height: normal;
}

.col-4 {
    padding-top: 0%;
}


.row {
    width: 100%;
}

.borderr {
    margin-top: 0px;
    margin-bottom: 0px;
}

.basic {
    font-weight: 100;
    color: white;
}


#meow  {
    border-color: white;
    padding-top: 225px;
    color: white;
    padding-left: 4%;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 {
    font-family:sans-serif;
    color: white;
    font-size: 150%;
}

.image{
    border-radius: 2%;
    position: relative;
    width: 100%;

}
.logo {
    width:77px;
    height:77px;
    margin-top: 1px;
    margin-left: 7%;
}
.logo-name {
    margin-right: auto;
    margin-left: 1%;
}

.nav-bar{
    background-color: black;
    padding-top:1%;
    display:flex;
    z-index: 1;
    width:100%;
    position:fixed;
    padding-left: 0%;
    padding-right: 0%;    
    font-size: 35px;
    }

a:link[class = "nav-header"], a:visited[class = "nav-header"] {
    color: white;
    padding: 25px;
    text-align: center;
    display: inline-block;  
    font-size:2vmin;
    font-family: "Merriweather";
    transition: all 0.3s ease;
    opacity: 0.8;
    color:rgb(195, 205, 207);
}
a:hover[class = "nav-header"] {
    transform: scale(1.2);
    opacity: 1;
  }

.second {
    padding-top: 4%;
}

#minecraft {
    padding-left: 15%;
    padding-right: 15%;
}

#banana {
    font-size: 55px;
}